svg {
  background-color: #bfbfbf;
}

rect {
  fill: lightblue;
}

text {
  font-size: 25px;
  font-family: monospace;
}

.pipe {
  fill: #d8d8d8;
  stroke: black;
}

.input {
  cursor: pointer;
}

.input:hover {
  fill: #659BAD;
}

.output {
  cursor: pointer;
}

.output:hover {
  fill: #659BAD;
}

.main-body {
  fill: lightslategray;
  stroke: black;
}

.main {
  fill: lightslategray;
  stroke: black;
}

.main:hover {
  fill: #385661;
}

.function-outline {
  fill: none;
  stroke: black;
}

.selected, .selected:hover {
  fill: mediumspringgreen;
}

.flow {
  fill: lightsalmon;
}

.flow2 {
  fill: lightseagreen;
}
