rect {
  fill: lightblue;
}

text {
  font-size: 35px;
  font-family: monospace;
}

.input {
  cursor: pointer;
}

.input:hover {
  fill: #659BAD;
}

.output {
  cursor: pointer;
}

.output:hover {
  fill: #659BAD;
}

.function-outline {
  fill: none;
  stroke: black;
}
